body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: #34495e;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.main-section {
  height: 100%;
  width: 90%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
}

.add-section {
  padding: 20px;
  margin: 25px 0;
  background-color: #fefffa;
}

.show-todo-section {
  width: 100%;
  padding: 25px;
  background-color: #fefffa;
}
